{{define "section-project"}}
<section id="portfolio-details" class="portfolio-details">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-8">
                <div class="portfolio-details-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                        <!-- foto proyek -->
                        <div class="swiper-slide">
                            <img src="/assets/images/project/project-1.jpg" alt="">
                        </div>
                        <!-- foto teknologi -->
                        <div class="swiper-slide">
                            <img src="/assets/images/tech/tech-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="portfolio-info">
                    <h3>Project information</h3>
                    <ul>
                        <li><strong>Category</strong>: Mobile Flutter</li>
                        <li><strong>Client</strong>: Personal</li>

                        <li><strong>Project URL</strong>: <a href="#">Link</a></li>
                    </ul>
                </div>
                <div class="portfolio-description">
                    <h2>This is an example of project detail</h2>
                    <p>
                        Develop a Flutter application for a personal project which contains food recipes and their
                        corresponding images fetched from Google Photos links. This app provides users with a wide range
                        of delicious recipes accompanied by visually appealing images.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-8">
                <div class="portfolio-details-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                        <!-- foto proyek -->
                        <div class="swiper-slide">
                            <img src="/assets/images/project/project-2.jpg" alt="">
                        </div>
                        <!-- foto teknologi -->
                        <div class="swiper-slide">
                            <img src="/assets/images/tech/tech-2.jpg" alt="">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="portfolio-info">
                    <h3>Project information</h3>
                    <ul>
                        <li><strong>Category</strong>: Mobile Flutter</li>
                        <li><strong>Client</strong>: Personal</li>

                        <li><strong>Project URL</strong>: <a href="https://github.com/salehrashid/News-app">Link</a>
                        </li>
                    </ul>
                </div>
                <div class="portfolio-description">
                    <h2>This is an example of project detail</h2>
                    <p>
                        Develop a Flutter application that implements APIs to connect the app with the unofficial API
                        application called NEWS_API, which ensures that the application is always up‑to‑date with the
                        latest information. The design translates from Figma into UI code.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-8">
                <div class="portfolio-details-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                        <!-- foto proyek -->
                        <div class="swiper-slide">
                            <img src="/assets/images/project/project-3.jpg" alt="">
                        </div>
                        <!-- foto teknologi -->
                        <div class="swiper-slide">
                            <img src="/assets/images/tech/tech-3.jpg" alt="">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="portfolio-info">
                    <h3>Project information</h3>
                    <ul>
                        <li><strong>Category</strong>: Mobile Flutter</li>
                        <li><strong>Client</strong>: Personal</li>

                        <li><strong>Project URL</strong>: <a href="https://github.com/salehrashid/WeatherApp">Link</a>
                        </li>
                    </ul>
                </div>
                <div class="portfolio-description">
                    <h2>This is an example of project detail</h2>
                    <p>
                        Flutter weather app with an API delivers real-time weather updates and forecasts. Users can
                        check current conditions (temperature, humidity, wind) and plan activities based on accurate
                        information.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-8">
                <div class="portfolio-details-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                        <!-- foto proyek -->
                        <div class="swiper-slide">
                            <img src="/assets/images/project/project-4.jpg" alt="">
                        </div>
                        <!-- foto teknologi -->
                        <div class="swiper-slide">
                            <img src="/assets/images/tech/tech-4.jpg" alt="">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="portfolio-info">
                    <h3>Project information</h3>
                    <ul>
                        <li><strong>Category</strong>: Web Design</li>
                        <li><strong>Client</strong>: IDN FEST 2022 Competition</li>

                        <li><strong>Project URL</strong>: <a href="https://github.com/salehrashid/Arsedu">Link</a></li>
                    </ul>
                </div>
                <div class="portfolio-description">
                    <h2>This is an example of project detail</h2>
                    <p>
                        Educational websites provide easy access to learning through videos, quizzes, and interactive
                        modules. They make education flexible, enjoyable, and accessible to everyone, regardless of
                        location or limitations.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-8">
                <div class="portfolio-details-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                        <!-- foto proyek -->
                        <div class="swiper-slide">
                            <img src="/assets/images/project/project-5.jpg" alt="">
                        </div>
                        <!-- foto teknologi -->
                        <div class="swiper-slide">
                            <img src="/assets/images/tech/tech-5.jpg" alt="">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="portfolio-info">
                    <h3>Project information</h3>
                    <ul>
                        <li><strong>Category</strong>: Web Porfolio v1</li>
                        <li><strong>Client</strong>: Personal</li>

                        <li><strong>Project URL</strong>: <a
                                href="https://github.com/salehrashid/Web-Portofolio">Link</a></li>
                    </ul>
                </div>
                <div class="portfolio-description">
                    <h2>This is an example of project detail</h2>
                    <p>
                        I built my web portfolio with a clear vision in mind: to showcase my skills, experiences, and
                        projects in a visually appealing and user-friendly manner. I carefully selected a clean and
                        modern design, ensuring that the layout and color scheme complemented the content and conveyed a
                        professional image.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-8">
                <div class="portfolio-details-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                        <!-- foto proyek -->
                        <div class="swiper-slide">
                            <img src="/assets/images/project/project-6.jpg" alt="">
                        </div>
                        <!-- foto teknologi -->
                        <div class="swiper-slide">
                            <img src="/assets/images/tech/tech-6.jpg" alt="">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="portfolio-info">
                    <h3>Project information</h3>
                    <ul>
                        <li><strong>Category</strong>: Web Porfolio v2</li>
                        <li><strong>Client</strong>: Personal</li>

                        <li><strong>Project URL</strong>: <a
                                href="https://github.com/salehrashid/portfolio-saleh">Link</a></li>
                    </ul>
                </div>
                <div class="portfolio-description">
                    <h2>This is an example of project detail</h2>
                    <p>
                        Develop an web portfolio v2 for my personal experimental project. Built with HTML and Go, for
                        the development enviroment using Docker and Docker Compose
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-8">
                <div class="portfolio-details-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                        <!-- foto proyek -->
                        <div class="swiper-slide">
                            <img src="/assets/images/project/project-7.jpg" alt="">
                        </div>
                        <!-- foto teknologi -->
                        <div class="swiper-slide">
                            <img src="/assets/images/tech/tech-7.jpg" alt="">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="portfolio-info">
                    <h3>Project information</h3>
                    <ul>
                        <li><strong>Category</strong>: Web Examination</li>
                        <li><strong>Client</strong>: SMP Nur Hikmah</li>
                        <li><strong>Project URL</strong>: <a
                                href="https://github.com/salehrashid/Ujikom-NurHikmah">Link</a></li>
                    </ul>
                </div>
                <div class="portfolio-description">
                    <h2>This is an example of project detail</h2>
                    <p>
                        Develop an exam online website using Laravel. With Laravel's powerful features and robust
                        architecture, the application ensures efficient management of exams, questions, and user data.
                        It offers a user‑friendly interface for administrators to create exams, set up question banks,
                        and manage user accounts.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-8">
                <div class="portfolio-details-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                        <!-- foto proyek -->
                        <div class="swiper-slide">
                            <img src="/assets/images/project/project-8.jpg" alt="">
                        </div>
                        <!-- foto teknologi -->
                        <div class="swiper-slide">
                            <img src="/assets/images/tech/tech-8.jpg" alt="">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="portfolio-info">
                    <h3>Project information</h3>
                    <ul>
                        <li><strong>Category</strong>: Web POS</li>
                        <li><strong>Client</strong>: PT Buah Tangan Indonesia</li>
                    </ul>
                </div>
                <div class="portfolio-description">
                    <h2>This is an example of project detail</h2>
                    <p>
                        Built a modern POS SaaS website (Symfony framework) for streamlined sales & inventory
                        management. User-friendly interface, real-time analytics & secure payments showcase my web dev &
                        design skills for innovative business solutions.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-8">
                <div class="portfolio-details-slider">
                    <div class="align-items-center">
                        <!-- foto proyek -->
                        <div class="">
                            <img src="/assets/images/project/project-9.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="portfolio-info">
                    <h3>Project information</h3>
                    <ul>
                        <li><strong>Category</strong>: E-Book</li>
                        <li><strong>Client</strong>: Personal</li>
                        <li><strong>Project URL</strong>: <a
                                href="https://docs.google.com/document/d/1022F0tAcdG6rGfkpGR5FbusXH_CT-buMdHBcj1EmbGo/edit?usp=sharing">Link</a>
                        </li>
                    </ul>
                </div>
                <div class="portfolio-description">
                    <h2>This is an example of project detail</h2>
                    <p>
                        I wrote a book called Mastering with Kotlin that introduces Kotlin programming and application
                        development. It covers Kotlin syntax, features, and best practices, including user interfaces,
                        input handling, data storage, and networking. The book offers practical examples and exercises
                        for both beginners and experienced developers wanting to improve their Kotlin skills.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}