{{define "section-certificate"}}
<section id="certificate" class="blog-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Certificate
                    </h3>
                    <p class="subtitle-a">
                        That's a certificate i got from online course
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-blog">
                    <div class="card-img">
                        <img src="/assets/images/certificate/dart-basic.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="card-body">
                        <div class="card-category-box">
                            <div class="card-category">
                                <h6 class="category">Dicoding</h6>
                            </div>
                        </div>
                        <h3 class="card-title">Dart Basic</h3>
<!--                        <p class="card-description">-->
<!--                            Proin eget tortor risus. Pellentesque in ipsum id orci porta dapibus. Praesent sapien massa,-->
<!--                            convallis-->
<!--                            a pellentesque nec,-->
<!--                            egestas non nisi.-->
<!--                        </p>-->
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-blog">
                    <div class="card-img">
                        <img src="/assets/images/certificate/flutter-basic.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="card-body">
                        <div class="card-category-box">
                            <div class="card-category">
                                <h6 class="category">Dicoding</h6>
                            </div>
                        </div>
                        <h3 class="card-title">Flutter Basic</h3>
<!--                        <p class="card-description">-->
<!--                            Dicoding's Flutter certificate validates your expertise in cross-platform mobile app-->
<!--                            development. With Flutter and Dart proficiency, you're equipped to create dynamic apps for-->
<!--                            both Android and iOS.-->
<!--                        </p>-->
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-blog">
                    <div class="card-img">
                        <img src="/assets/images/certificate/html-basic.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="card-body">
                        <div class="card-category-box">
                            <div class="card-category">
                                <h6 class="category">Skilvul</h6>
                            </div>
                        </div>
                        <h3 class="card-title">HTML Basic</h3>
<!--                        <p class="card-description">-->
<!--                            Skilvul's HTML Basics certificate confirms your expertise in the essential language of the-->
<!--                            web. With a thorough understanding of HTML syntax, semantics, and structure, you're poised-->
<!--                            to create dynamic web pages.-->
<!--                        </p>-->
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-blog">
                    <div class="card-img">
                        <img src="/assets/images/certificate/web-design.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="card-body">
                        <div class="card-category-box">
                            <div class="card-category">
                                <h6 class="category">SMK IDN</h6>
                            </div>
                        </div>
                        <h3 class="card-title">Web Design</h3>
<!--                        <p class="card-description">-->
<!--                            Proin eget tortor risus. Pellentesque in ipsum id orci porta dapibus. Praesent sapien massa,-->
<!--                            convallis a pellentesque nec, egestas non nisi.-->
<!--                        </p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}