<!DOCTYPE html>
<html lang="en">
{{template "html-head"}}
<body>
<!-- ======= Header ======= -->
{{template "header"}}
<!-- ======= End Header ======= -->

<!-- ======= Hero Section ======= -->
<div id="hero" class="hero route bg-image" style="background-image: url(/assets/images/hero-bg.jpg)">
    <div class="overlay-itro"></div>
    <div class="hero-content display-table">
        <div class="table-cell">
            <div class="container">
                <p class="display-6 color-d">
                    Hello, Coder
                    <img src="https://media.giphy.com/media/hvRJCLFzcasrR4ia7z/giphy.gif" width="25" alt="">
                </p>
                <h1 class="hero-title mb-4">I am Saleh Rashid Babsel</h1>
                <p class="hero-subtitle">
                    <span class="typed" data-typed-items="Web Developer, Software Engineer"></span>
                </p>
                <div class="row justify-content-center">
                    <p class="pt-3 col-md-2">
                        <a class="btn btn-primary btn js-scroll px-4" href="/assets/saleh-cv.zip" role="button" download>Download CV</a>
                    </p>
                    <p class="pt-3 col-md-2">
                        <a class="btn btn-primary btn js-scroll px-4" href="/assets/saleh-portfolio.zip" role="button" download>Download Portfolio</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======= End Hero Section ======= -->

<main id="main">
    <!-- ======= About Section ======= -->
    {{template "section-about"}}
    <!-- ======= End About Section ======= -->

    <!-- ======= Services Section ======= -->
    <!--    {{template "section-service"}}-->
    <!-- ======= End Services Section ======= -->

    <!-- ======= Counter Section ======= -->
    <!--    {{template "section-counter"}}-->
    <!-- ======= End Counter Section ======= -->

    <!-- ======= Certificate Section ======= -->
    {{template "section-certificate"}}
    <!-- ======= End Certificate Section ======= -->

    <!-- ======= Contact Section ======= -->
    {{template "section-contact"}}
    <!-- ======= End Contact Section ======= -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
{{template "footer"}}
<!-- ======= End Footer ======= -->

{{template "preloader"}}

<!-- Vendor JS Files -->
{{template "section-script"}}
</body>
</html>