{{define "html-head"}}
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>DevFolio Bootstrap Portfolio Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/assets/images/logo/logo.svg" rel="icon">
    <link href="/assets/images/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Vendor CSS Files -->
    <link href="/assets/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/plugin/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/plugin/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/plugin/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet">

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- =======================================================
    * Template Name: DevFolio
    * Updated: Sep 18 2023 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>
{{end}}